<!DOCTYPE html>
<html>
<head>
    <title>UNSUPERVISED LEARNING</title>
</head>
<body>
    <h2>Unsupervised learning</h2>
    <h3>2D density plots</h3>
    <h2>Age and gender></h2>
    <img src="{{ url_for('static', filename='plot_densityf.png') }}" alt="Females">
    <img src="{{ url_for('static', filename='plot_densitym.png') }}" alt="Males">
    
    <h2>Gender and annual income>
    <img src="{{ url_for('static', filename='plot_densityf1.png') }}" alt="Females">
    <img src="{{ url_for('static', filename='plot_densitym1.png') }}" alt="Males">


</html>
